<nav id="navigation">
    <!-- container -->
    <div class="container">
      <!-- responsive-nav -->
      <div id="responsive-nav">
        <!-- NAV -->
        <ul class="main-nav nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a [routerLink]="['/product']" routerLinkActive="router-link-active" >Products</a></li>
          <li><a [routerLink]="['/categories']" routerLinkActive="router-link-active" >Categories</a></li>
          <li><a [routerLink]="['/laptops']" routerLinkActive="router-link-active" >Laptops</a></li>
          <li><a [routerLink]="['/smartphones']" routerLinkActive="router-link-active" >Smartphones</a></li>
          <li><a [routerLink]="['/cameras']" routerLinkActive="router-link-active" >Cameras</a></li>
          <li><a [routerLink]="['/accessories']" routerLinkActive="router-link-active" >Accessories</a></li>
        </ul>
        <!-- /NAV -->
      </div>
      <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>