<form>
    <div *ngIf="login" class="container">
      
            <label for="uname"><b>Email</b></label>
            <input
              type="email"
              placeholder="Enter Username"
              name="email"
              [(ngModel)]="email"
              required
            />
  
            <label for="psw"><b>Password</b></label>
            <input
              type="password"
              placeholder="Enter Password"
              name="password"
              [(ngModel)]="password"
              required
            />
  
            <button (click)='signIn()'>Login</button>
      
          </div>

          <div *ngIf="!login" class="container">
      
            <label  for="uname"><b>email</b></label>
            <input
              type="email"
              placeholder="Enter Username"
              name="uname"
              [(ngModel)]="email"
              required
            />
            <label for="uname"><b>password</b></label>
            <input
              type="password"
              placeholder="Enter password"
              name="password"
              [(ngModel)]="password"
              required
            />
            <label for="uname"><b>name</b></label>
            <input
              type="text"
              placeholder="Enter name"
              name="name"
              [(ngModel)]="name"
              required
            />

            <label for="uname"><b>phone</b></label>
            <input
              type="number"
              placeholder="Enter phone"
              name="phone"
              [(ngModel)]="phone"
              required
            />
            <button (click)="signupUser()">Signup</button>
          
          </div>
  </form>
