<form>
    <div *ngIf="login" class="container">
      
            <label for="uname"><b>Username</b></label>
            <input
              type="text"
              placeholder="Enter Username"
              name="uname"
              required
            />
  
            <label for="psw"><b>Password</b></label>
            <input
              type="password"
              placeholder="Enter Password"
              name="psw"
              required
            />
  
            <button type="submit">Login</button>
      
          </div>

          <div *ngIf="!login" class="container">
      
            <label for="uname"><b>email</b></label>
            <input
              type="email"
              placeholder="Enter Username"
              name="uname"
              required
            />
  
          
  
            <button type="submit">Signup</button>
      
          </div>
  </form>
